@page
@model GOB.AppFrontend.Pages.EditarSecretarioModel
@{
}
<form method="post">
    <input type="hidden" asp-for="secretario.id">
    <div class="form_group">
        <label asp-for="secretario.nombre"></label>
        <input asp-for="secretario.nombre" class="form-control">
    </div>
    <div class="form_group">
        <label asp-for="secretario.apellido"></label>
        <input asp-for="secretario.apellido" class="form-control">
    </div>
    <div class="form_group">
        <label asp-for="secretario.edad"></label>
        <input asp-for="secretario.edad" class="form-control">
    </div>
    <div class="form_group">
        <label asp-for="secretario.identificacion"></label>
        <input asp-for="secretario.identificacion" class="form-control">
    </div>
    <div class="form_group">
        <label asp-for="secretario.despacho"></label>
        <input asp-for="secretario.despacho" class="form-control">
    </div>
    <div class="form_group">
        <label asp-for="secretario.estadoSalud"></label>
        <input asp-for="secretario.estadoSalud" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    <input type="button" class="btn btn-primary" onclick="history.back()" name="Cancelar" value="Cancelar">
</form>