@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">ALPHA CODE</h1>
    <p>CONTROL ACCESO GOBERNACION</p>
    <img src="https://rockcontent.com/es/wp-content/uploads/sites/3/2020/08/qu%C3%A9-es-PHP-1024x576.png">
</div>
